h1 {font-family: Impact;text-align: center; background-color: lightslategray}
h2 {font-size: 48px;color: crimson}
header {font-size: 20px; text-align: center;background-color: lightslategrey}
#choice {font-size: 24px; color:blue;background-color: lightgrey; text-underline-position: below}
p {font-size: 24px; background-color: lightgrey}
body {background-image: url(./images/Adventurer_Manager_Background_The_Ice_Cave.png)}
#home {background-size: 100%; background-image: url(./images/dirt_farm.png.jpg)}
img.displayed {display: block;
    margin-left: auto;
    margin-right: auto}